body {
  margin: auto;
}
.header {
  display: flex;
}
.logo {
  width: 80px;
}
.nav-bar {
  background-color: #c4c4c4;
  list-style: none;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  padding: 0;
}
.nav-bar li a {
  text-decoration: none;
}
.about {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}
.about img {
  width: 170px;
  height: 160px;
  border-radius: 50%;
}
.about .desc {
  text-align: center;
}
.about .desc p {
  border: 1px solid;
  padding: 30px 50px;
}
form div,
h2 {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
form h2 {
  color: #b31c1ce1;
}
form div label {
  display: inline-block;
  width: 15%;
}
form div .form-item {
  width: 25%;
  padding: 10px;
}
form div input[type="submit"] {
  background-color: #c4c4c4;
  padding: 15px 30px;
  text-decoration: none;
  border: none;
}
footer {
  width: 100%;
  background-color: #c4c4c4;
  text-align: center;
  padding: 16px 0;
  bottom: 0;
  margin-top: 40px;
}
