body {
    margin: auto;
}
.header {
    display: flex;
}
.logo {
    width : 80px;
}
.nav-bar {
    background-color: #C4C4C4;
    list-style: none;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    padding: 0;
}
.nav-bar li a {
    text-decoration: none;
}
.page-title {
    text-align: center;
    margin-top: 100px;
}
table {
    margin: auto;
    width: 50%;
    border-collapse: collapse;
}
table tr th,td {
    padding: 15px;
    text-align: center;
}
table input[type=checkbox] {
float: right;
}
table tr .completed p{
    background-color: green;
    display: inline;
    padding: 10px 20px;
}
table tr .not-started p{
    background-color: red;
    display: inline;
    padding: 10px 20px;
}
footer {
    width: 100%;
    background-color: #C4C4C4;
    text-align: center;
    padding: 16px 0;
    position: fixed;
    bottom: 0;
}